@model AspNetExam.Models.x_ken_all[]
<html>
<head>
    <title>Hello ASP.NET MVC!</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    Address results:
    <ol class="list-group">
        @foreach (var record in Model){
        <li class="list-group-item">@record.NewZipCode - @record.Prefecture@record.CityWard@record.Address</li>
        }
    </ol>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
